!!!
%html
  %head
    %title Hvad bruges pengene til?
    %meta{:charset => 'utf-8'}
    = stylesheet_link_tag 'application', :media => 'screen, projection'
    /[if lt IE 7]
      = stylesheet_link_tag 'ie6.css', :media => 'screen, projection'
    /[if lt IE 9]
      = javascript_include_tag "http://html5shim.googlecode.com/svn/trunk/html5.js"
    = csrf_meta_tag
    %link{:rel => "shortcut icon" , :href => "/images/icons/blinksale/coin_gold.ico"}
    %link{:rel => "icon" , :type => 'image/png', :href => "/images/icons/blinksale/coin_gold_16.png"}
    %meta{:name => "viewport", :content => "width = 590"}

  %body
    %article
      %header
        %h1
          = link_to "Hvad bruges pengene til?", root_url(:year => @year)
        %div.subtitle
          Hvor ryger dine skattekroner egentligt hen, når du har betalt dem?

      = yield

    %footer
      %div
        %p
          Tallene er baseret på data fra
          = link_to('Danmarks Statistik - statistikbanken.dk', 'http://www.statbank.dk/OFF23') + ','
          = link_to('Finansministeriets finanslovsdatabase', 'http://www.oes-cs.dk/olapdatabase/finanslov/index.cgi')
          og
          = link_to('Skatteministeriet', 'http://www.skm.dk/skatteomraadet/talogstatistik/kommuneskatter/7910.html')

      %div
        %p
          = link_to 'Hvad bruges pengene til', root_url
          == &copy;#{[2011, Date.today.year].uniq.join(' - ')}
          = link_to('Jakob Skjerning', 'http://mentalized.net', :title => 'Freelance Ruby on Rails programmør')
        %p
          Fugue Icons by
          = link_to('Yusuke Kamiyamane', 'http://p.yusukekamiyamane.com/')
      %div
        %p
          Andre
          = link_to('Substance Lab', 'http://substancelab.com', :title => 'Web application development experts')
          projekter:
          = link_to 'FlowToDo', 'http://flowtodo.com', :title => 'Task tracking tool that actually helps you get things done and stay away from stress'
          = link_to 'Objectpush', 'http://objectpush.com', :title => 'Push incoming emails to your web application using HTTP and JSON'
          = link_to 'Progress Wars', 'http://progresswars.com', :title => 'No mafias, no vikings, no pirates - just pure, uninterrupted progress bars'

  = render 'layouts/include_jquery'

  = javascript_include_tag "application"
  = render 'layouts/google_analytics'
