!!!
%html
  %head
    %title= content_for(:title) || "Hvad bruges pengene til?"
    %meta{:charset => 'utf-8'}
    = stylesheet_link_tag 'application', :"data-turbo-track" => "reload", :media => 'screen, projection'

    = csrf_meta_tags
    = csp_meta_tag

    %link{:rel => "shortcut icon" , :href => "/images/icons/blinksale/coin_gold.ico"}
    %link{:rel => "icon" , :type => 'image/png', :href => "/images/icons/blinksale/coin_gold_16.png"}
    %link{:rel => "apple-touch-icon", :href => "/images/icons/blinksale/coin_gold_16.png"}

    %meta{:name => "viewport", :content => "width = 590"}
    %meta{:name => "apple-mobile-web-app-capable", :content => "yes"}

    = yield :head

    %link{:rel => "manifest", :href => "/manifest.json"}


  %body
    %article
      %header
        %h1
          = link_to "Hvad bruges pengene til?", root_url(:year => @year)
        %div.subtitle
          Hvor ryger dine skattekroner egentligt hen, når du har betalt dem?

      = yield

    %footer
      %div
        %p
          Tallene er baseret på data fra
          = link_to('Danmarks Statistik - statistikbanken.dk', 'http://www.statbank.dk/OFF23') + ','
          = link_to('Finansministeriets finanslovsdatabase', 'http://www.oes-cs.dk/olapdatabase/finanslov/index.cgi')
          og
          = link_to('Skatteministeriet', 'https://skm.dk/tal-og-metode/satser/statistik-i-kommunerne')

      %div
        %p
          = link_to 'Hvad bruges pengene til', root_url
          == &copy;#{[2011, Date.today.year].uniq.join(' - ')}
          = link_to('Jakob Skjerning', 'http://mentalized.net', :title => 'Freelance Ruby on Rails programmør')
        %p
          Fugue Icons by
          = link_to('Yusuke Kamiyamane', 'http://p.yusukekamiyamane.com/')
      %div
        %p
          Andre
          = link_to('Substance Lab', 'http://substancelab.dk', :title => 'Udvikling af kvalitets web applikationer')
          projekter:
          = link_to 'Front Lobby', 'http://www.frontlobby.dk', :title => 'Fremtidssikret mødebooking for kontorfællesskaber'
          = link_to 'Progress Wars', 'http://progresswars.com', :title => 'No mafias, no vikings, no pirates - just pure, uninterrupted progress bars'

  = render 'layouts/include_jquery'

  = javascript_include_tag "application"
  = render 'layouts/google_analytics'
