%header
  %h1 Hvad bruges pengene til

%section.input
  = form_tag('', :method => :get) do
    = label_tag :tax_payment, "Hvor meget betalte du i skat i #{@year}?"
    = text_field_tag :tax_payment, @tax_payment
    = submit_tag 'Beregn'

%section.result
  - unless @tax_payment.blank?
    %table
      %thead
        %tr
          %th{:scope => 'col'} Konto
          %th.percentage{:scope => 'col'} %
          %th.amount{:scope => 'col'} Din andel
      %tbody
        - @accounts.each do |account|
          %tr
            %th{:scope => 'row'}= account.name
            %td.percentage= number_to_percentage(account.percentage_of_total)
            %td.amount= number_to_currency(account.amount_of_tax_payment(@tax_payment))
      %tfoot
        %tr
          %td
          %td
          %td.amount= number_to_currency(@tax_payment)
