%section.input
  = form_tag(root_url, :method => :get) do
    = hidden_field_tag :year, @year
    = label_tag :tax_payment do
      I
      = @year
      = past_or_future(@year, "betalte jeg", "betaler jeg")
      = amount_input_tag :tax_payment, @tax_payment
      kr. i skat
    %button= past_or_future(@year, 'Hvad blev de brugt til?', 'Hvad bliver de brugt til?')

%section.result
  - unless @tax_payment.blank?
    - unless @accounts.empty?
      %p
        Af din betaling på
        = format_amount(@tax_payment)
        = past_or_future(@year, "fik", "får")
        staten de
        = format_amount(@state_tax).strip
        = footnote_link(1) + ","
        som de
        = past_or_future(@year, "fordelte", "fordeler")
        således:

      %table
        %thead
          %tr
            %th{:scope => 'col'} Konto
            %th.amount{:scope => 'col'}
              Din andel
              = footnote_link(2)
        %tbody
          - @accounts.each do |account|
            %tr{:id => dom_id(account), :class => ['parent']}
              %th{:scope => 'row'}= account.name
              %td.amount= format_amount(account.amount_of_tax_payment(@state_tax))
            - account.children.expenses.each do |child|
              %tr{:class => ['child', dom_id(account)]}
                %th{:scope => 'row'}= child.name
                %td.amount= format_amount(child.amount_of_tax_payment(@state_tax))
        %tfoot
          %tr
            %th{:scope => 'row'} Din skat minus kommune- og kirkeskat
            %td.amount= format_amount(@state_tax)

      .footnotes
        %ol
          %li#footnote_1
            Resten gik til kommune- og kirkeskat. Det nøjagtige beløb afhænger af
            din bopæl og tilhørsforhold til Folkekirken. I #{@year}
            = past_or_future(@year, "var", "er")
            den gennemsnitlige kommune- og kirkeskat på
            = number_to_percentage(CommunalAndChurchTax.average(@year))
            i følge
            = link_to('Skatteministeriet', 'http://www.skm.dk/tal_statistik/kommuneskatter/7910.html') + '.'
          %li#footnote_2
            Beløbene er omtrentlige og baserede på gennemsnitsbetragtninger.

    - else
      %div.no_result
        %p
          == Vi har ingen data for #{@year}, beklager.
          Prøv i stedet med
          = link_to('år 2010', :year => 2010, :tax_payment => params[:tax_payment]) + '.'
